<h1>Projects#new</h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <h2>Add new Project</h2>

      <%= simple_form_for @project do |f| %>
        <div class="form-inputs">
          <%= f.input :title %>
          <%= f.input :info, as: :text %>
          <%= f.input :spotify %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "add project", class: "edit-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
