<h1><%= @project.title %></h1>
<h2><%= @project.info %></h2>
<p>Find me in app/views/projects/show.html.erb</p>
<p><%= link_to "Add new photo", new_image_path %></p>
<p><%= link_to "Edit project", edit_project_path %></p>
<p><%= link_to "Delete project", project_path, method: :delete, data: { confirm: "Are you sure you want to delete #{@project.title} and all its images?" } %></span><p>
<% if @images.blank? %>
  There are no images.
<% else %>
  <% @images.each do |image| %>
    <%= render 'shared/index_card', image: image %>
  <% end %>
<% end %>
